/* enable absolute positioning */
.inner-addon {
    position: relative;
  }
  
  /* style glyph */
  .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-addon .fa  { left:  0px;}
  .right-addon .fa { right: 110px;}
  
  /* add padding  */
  .left-addon input  { padding-left:  30px; }
  .right-addon input { padding-right: 30px; }

  

  /*---------------------*/



  .inner-add {
    position: relative;
  }
  
 
  .inner-add .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
  }
  
  /* align glyph */
  .left-add .fa  { left:  1px;}
  .right-add .fa { right: 70px;}
  
  /* add padding  */
  .left-add input  { padding-left:  30px; }
  .right-add input { padding-right: 30px; }
  
  
  


  body {
    margin: 10px;
    /* position: absolute;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background-color: aqua; */
  }


  html { font: 16px/1 'Open Sans', sans-serif; overflow: auto; padding-top: 0.2in;padding-bottom: 0.2in; padding-left: 0in; padding-right: 0in; }
  html { background: #999;  }
  
  body { box-sizing: border-box; height: 6in; margin: 0 auto; overflow: hidden; padding: 0.5in; width: 13.10in; }
  body { background: #FFF; border-radius: 1px; box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5); }
  
  
@media print {
	* { -webkit-print-color-adjust: exact; }
	html { background: none; padding: 0; }
	body { box-shadow: none; margin: 0; }
}

@page { margin: 0; }

tbody {
    display:block;
    height:400px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width: calc( 100% - 1em )
}


