<nav class="navbar navbar-dark bg-dark">
    <!-- <img src="assets/Logo.svg" height="45" width="45"> -->
  <!-- <a class="Logo" href="/"><img src="assets/Logo.svg" height="45" width="45"></a> -->
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">
            <img src="assets/Logo.svg" height="25" width="85" hspace="15">
          </a>
      <a class="nav-item nav-link active" href="#">
        <img src="assets/ico_dashboard.svg" height="23" width="25" hspace="15">Dashboard
      </a>
      <a class="nav-item nav-link active" href="#" routerLink="/users">
          <img src="assets/ico_users.svg" height="23" width="25" hspace="15">Users
        </a>
        <a class="nav-item nav-link active" href="#">
            <img src="assets/ico_sessionmanager.svg" height="23" width="25" hspace="15">Session Manager
          </a>
    </div>  
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
        <!-- <img src="assets/ico_notification.svg" height="25" width="85" align="middle"> -->
      <a class="nav-item nav-link active" href="#">
          
            <img src="assets/ico_notification.svg" height="25" width="85" style="display:inline">
            <!-- <img src="assets/ico_user.svg" height="25" width="85" style="display:inline">John Smith -->
        </a>
        <a class="nav-item nav-link active" href="#" >
            <img src="assets/ico_user.svg" height="25" width="85" >John Smith
        </a>
      <a class="nav-item nav-link active" href="#">
          <img src="assets/ico_downarrow.svg" height="25" width="10" >
      </a>
    </div>
  </div>
</nav>